.header {
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background: #b2dfdb;
    border-bottom: 1px solid #0039cb;
}

.title {
    margin: 0;
    color: #000051;
}

.search{
    display: flex;
    flex-direction: column;
}

.search__img {
    margin-right: 0.4rem;
}

.search__input {
    padding: 1rem 2rem;
    outline: none;
    font-size: 1rem;
    color: #000051;
    border: none;
    border-radius: 5rem;
    margin-top: 0;
}

.search:hover {
    box-shadow: 5px 5px 5px 5px #e0f2f1;
    transition: 2s;
}

@media screen and (max-width: 425px){
    .header{
        padding: 0 1rem;
    }
    .title{
        font-size: 1.3rem;
    }
    .search__input{
        padding: 0.8rem 0.8rem;
        font-size: 0.8rem;
    }

}