.body {
    margin: 2rem;
}

.table {
    width: 90%;
    margin-top: 1rem;
}

.table tbody {
    width: 80%;
}

.row {
    background: #e1f5fe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.row:hover {
    transition: 0.5s;
    cursor: pointer;
    border: 2px solid #0039cb;
}

.contact {
    display: flex;
    align-items: center;
}

.contact__img {
    width: 6rem;
    height: 6rem;
    margin-right: 6rem;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    text-align: left;
}

.details h3 {
    color: #000051;
    margin: 0;
    padding-bottom: 0.5rem;
}

.details h6 {
    margin: 0;
}

.details h5 {
    margin: 0.5rem;
}

.contact__name {
    margin: 0;
}

.failContact {
    font-size: 1.5rem;
}


@media screen and (max-width: 425px) {
    .body {
        margin: 0;
    }

    .table {
        width: 100%;
    }

    .contact__img {
        margin-right: 1.5rem;
    }

}

@media screen and (max-width: 320px) {
    .contact__img {
        width: 4rem;
        height: 4rem;
        margin-right: 0.8rem;
    }

    .details h3 {
        font-size: 0.8rem;
        padding-bottom: 0.3rem;
    }

    .details h6 {
        font-size: 0.5rem;
        margin: 0;
    }

    .details h5 {
        font-size: 0.5rem;
        margin: 0.3rem;
    }
}




